.card-style {
  margin-left: 20px;
  float: left;
  width: 20rem;
  margin-bottom: 30%;
  margin-top: 10%;
  background-color: rgb(210, 105, 30);
}

.about_card_style {
  margin-bottom: 30%;
  margin-top: 10%;
  width: 15rem;
}

.image-style {
  width: 60%;
  height: 60%;
}

.logo_font {
  font-family: "Lobster";
  color: rgb(210, 105, 30);
  size: 200%;
  padding-top: 40px;
}
