.athlete-background {
  padding-bottom: 10px;
  background-color: #cfcfc4;
}

.athlete-card {
  top: 1rem;
  margin-bottom: 2rem;
  background-color: #73b1b7;
  font-family: "Signika", sans-serif;
}

.back-btn {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.athlete-info {
  background-color: #73b1b7;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
}

.athlete-pic {
  width: 50%;
}

.active {
  background-color: primary;
  color: white;
}

.div-center {
  text-align: center;
}
