.athlete-header {
  font-family: "Lobster";
  color: rgb(210, 105, 30);
  size: 200%;
  padding-top: 40px;
  text-align: left;
}

.athlete-body {
  text-align: left;
  font-size: larger;
  font-family: "Overpass", sans-serif;
}

.athlete-page-number {
  text-align: right;
}

.athlete-number {
  text-align: left;
}

.athlete-instances {
  margin-top: -90px;
  text-align: left;
  font-size: larger;
}

.athlete-footer {
  margin-top: -90px;
  text-align: right;
  font-size: larger;
}

.header {
  font-family: "Signika", sans-serif;
  text-align: left;
  margin-top: 10px;
}

.waiting {
  text-align: center;
  font-size: 30 px;
}
.athlete-card-style {
  float: none;
  margin: 0 auto;
  width: 20rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: rgb(210, 105, 30);
  font-family: "Overpass", sans-serif;
}

.athlete-row {
  justify-content: center;
}

.highlight {
  background: #d8d8d8;
}

.athlete-card-image-style {
  /* width: 20rem; */
  height: 21rem;
}
.text-labels {
  text-align: left;
}

.button-column {
  padding: 20px;
}

.name-button {
  background-color: brown;
  width: 10px;
}

.show {
  display: block;
}

.athlete-pagination {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  align-self: right;
}

.disp-footer {
  margin-top: 2rem;
  font-family: "Signika", sans-serif;
  margin-bottom: 2rem;
}

.pagination-btn {
  border-radius: 0px;
  font-size: small;
}

.searchButton {
  background-color: white;
  border-color: black;
  color: black;
  font-size: "1.1vw";
  height: 35px;
  width: 35px;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .pagination-btn {
    font-size: medium;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}
