.countries-header {
  font-family: "Lobster";
  color: rgb(210, 105, 30);
  size: 200%;
  padding-top: 40px;
  text-align: left;
}

.countries-body {
  text-align: left;
  font-size: larger;
}

.searchButton {
  background-color: white;
  border-color: black;
  color: black;
  font-size: "1.1vw";
  height: 35px;
  width: 35px;
}

.countries-card-style {
  float: left;
  width: 20rem;
  height: 25rem;
  margin-bottom: 30%;
  margin-top: 10%;
  background-color: rgb(210, 105, 30);
}

.countries-instances {
  margin-top: -90px;
  text-align: left;
  font-size: larger;
}

.countries-footer {
  margin-top: -90px;
  text-align: right;
  font-size: larger;
}

.text-labels {
  text-align: left;
}

.button-column {
  padding: 20px;
}

.name-button {
  background-color: brown;
  width: 10px;
}

.show {
  display: block;
}

.vid-container {
  position: relative;
}

.country-img {
  position: relative;
  z-index: 0;
  width: 100%;
}

.vid-header {
  font-family: "Lobster";
  color: rgb(210, 105, 30);
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 1;
  right: 0;
  text-align: left;
}

.vid-body-1 {
  color: rgb(210, 105, 30);
  position: absolute;
  top: 30%;
  left: 10%;
  margin-right: 10%;
  z-index: 1;
  right: 0;
  text-align: left;
  padding-top: 6%;
  display: flex;
}

.vid-body-2 {
  color: rgb(210, 105, 30);
  position: absolute;
  top: 25%;
  left: 10%;
  margin-right: 10%;
  z-index: 1;
  right: 0;
  text-align: left;
  padding-top: 15%;
  display: flex;
}

.vid-body-text {
  font-size: 0.5rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.disp-footer {
  margin-top: 2rem;
  font-family: "Signika", sans-serif;
  margin-bottom: 2rem;
}

.pagination-btn {
  border-radius: 0px;
  font-size: small;
}

.filter-btns {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filter-header {
  font-family: "Signika", sans-serif;
  text-align: left;
  margin-top: 10px;
}

.MuiTableRow-root {
  cursor: pointer;
  z-index: -1;
}

.optionListContainer {
  position: relative;
}

.MUITableHead-root {
  position: relative;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .vid-body-text {
    font-size: 0.75rem;
  }
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .vid-body-text {
    font-size: 1rem;
  }
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .pagination-btn {
    font-size: medium;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .vid-body-text {
    font-size: 1.75rem;
  }
  .disp-instance {
    float: left;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .disp-pagination {
    float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}
