.country-background {
  padding-bottom: 10px;
  background-color: #cfcfc4;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.country-name {
  font-family: "Francois One", sans-serif;
}

.country-card {
  top: 1rem;
  margin-bottom: 2rem;
}

.country-card-text {
  font-family: "Signika", sans-serif;
}

.btn-mine {
  position: absolute;
  left: 1rem;
  top: 1rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
}

.gold-medal {
  height: 45px;
  width: 45px;
  background-color: #d4af37;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}
.medal-text {
  text-align: center;
  line-height: 45px;
}

.silver-medal {
  height: 45px;
  width: 45px;
  background-color: #d7d7d7;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.bronze-medal {
  height: 45px;
  width: 45px;
  background-color: #6a3805;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.country-info {
  background-color: #d6af36;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
}

.olympic-logo {
  width: 10rem;
  margin-bottom: 5px;
}

.olympic-logo-2 {
  width: 5rem;
  margin-bottom: 5px;
}

.num-games-1 {
  background-color: grey;
  border-radius: 5px;
  width: 90px;
  float: right;
  height: 68px;
}
.num-games-text {
  line-height: 68px;
}

.num-games-2 {
  float: center;
  line-height: 68px;
}

.athlete-name {
  margin-bottom: 10px;
  margin-top: 10px;
}

.flag-img {
  width: 70%;
}

@media (max-width: 544px) {
  .flag-img {
    width: 100%;
  }
}
