.flag-img-view {
  width: 100%;
  height: 10rem;
}

.model-name {
  text-align: center;
  font-size: 35px;
}

.title {
  text-align: center;
  font-size: 50px;
}

.waiting {
  text-align: center;
  font-size: 30 px;
}
