.card-splash {
  display: flex;
  flex: 1;
  margin: 0.1rem;
  text-align: center;
  cursor: pointer;
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);

  border: transparent;
  border-radius: 0px;
  margin-top: 20px;
}

.card-splash:hover {
  opacity: 0.9;
}

.splash-background {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  padding-bottom: 40px;
}

.container {
  margin-bottom: 1rem;
}

.img-container {
  position: relative;
  text-align: center;
  color: rgb(210, 105, 30);
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-desc {
  font-size: 0.5rem;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .splash-desc {
    font-size: 0.75rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .splash-desc {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .splash-desc {
    font-size: 1.75rem;
  }
}
