.custom-tooltip {
  background: white;
}

.title {
  font-family: "Francois One", sans-serif;
}
.sub-title {
  font-family: "Francois One", sans-serif;
  margin-top: 2rem;
}

.viz-div {
  text-align: left;
  padding-bottom: 100px;
}
